[general]
version = 4
name = MP10_FULLSIZE_Y260_ACTIVE_UBL
definition = custom

[metadata]
type = definition_changes
setting_version = 20

[values]
machine_center_is_zero = False
machine_width = 300.0
machine_depth = 260.0
machine_height = 400.0
machine_use_extruder_offset_to_offset_coords = False
machine_start_gcode = ; ==== MP10 SAFE REAL-PRINT START ====
	G21
	G90
	M82
	M107
	M420 S0
	M140 S{material_bed_temperature_layer_0}
	M104 S150
	M190 S{material_bed_temperature_layer_0}
	M420 S0
	G28
	M420 S1
	G1 Z5 F300
	M109 S{material_print_temperature_layer_0}
	G92 E0
	G1 Z0.30 F300
	G1 X25 Y30 F3000
	G1 Z0.20 F300
	G1 X25 Y120 E8 F600
	G1 X27 Y120 F3000
	G1 X27 Y30 E16 F600
	G92 E0
	; ==== END MP10 SAFE REAL-PRINT START ====

machine_end_gcode = ; ==== MP10 SAFE END ====
	M83
	G1 E-3 F1800
	M82
	M104 S0
	M140 S0
	M107
	G91
	G1 Z5 F300
	G90
	G1 X25 Y180 F3000
	M84
	; ==== END MP10 SAFE END ====

adhesion_type = brim
layer_height = 0.2
layer_height_0 = 0.24
material_print_temperature = 200
material_print_temperature_layer_0 = 205
material_bed_temperature = 60
material_bed_temperature_layer_0 = 60
speed_print = 45
speed_wall = 25
speed_wall_0 = 20
speed_wall_x = 30
speed_topbottom = 30
speed_infill = 45
speed_layer_0 = 18
speed_travel = 120
retraction_enable = True
retraction_amount = 4.0
retraction_speed = 35
support_enable = False
